[package]
name = "layer-climb-address"
description = "Address sub-crate for Climb"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["lib", "cdylib"]

[features]
default = []
openapi = [ "dep:utoipa" ]
cw-storage = [ "dep:cw-storage-plus"]

[dependencies]
tendermint = { workspace = true }
thiserror = { workspace = true }
cosmwasm-schema = { workspace = true }
subtle-encoding = { workspace = true }
alloy-primitives = { workspace = true }
const-hex = { workspace = true }
serde = { workspace = true }
cosmwasm-std = {workspace = true}
bincode = {workspace = true}
utoipa = {workspace = true, optional = true}
cw-storage-plus = {workspace = true, optional = true}

[dev-dependencies]
serde_json = { workspace = true }
